
/* HEADING + NAV BAR + SHOPPING ICON */

.header {
  background-color: blue;
  height: 120px;
  padding-top: 38px;
}

.title {
  font-size: 72px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;

}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-left: 20%;
  margin-right: 22%;
  border-bottom: black 1px solid;
}

.navbar {
  width: 100vw;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-flex;
}

.shoppingCartImg {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  margin-top: 10px;
}

/* CARDS */

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.cardImage {
  height: 200px;
  width: 200px;
}

.singleCard {
  text-align: center;
  margin: 40px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  padding: 10px;
}

.cardAddButton {
  width: 100px;
  height: 40px;
}