@tailwind base;
@tailwind components;
@tailwind utilities;






/* HEADING + NAV BAR + SHOPPING ICON */

/* .styledLink {
  text-decoration: none;
  color: black;
}

.header {
  background-color: rgb(129, 150, 94);
  height: 120px;
  padding-top: 38px;
} */

/* .title {
  font-size: 72px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;

} */

/* NAV BAR */


/* .navbar {
  width: 100vw;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-flex;
} */

/* .shoppingCartImg {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  margin-top: 10px;
} */

/* .iconCounter {
  width: 20px;
  height: 19px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  justify-content: center;
  right: 40px;
  top: 156px;
  background-color: white;
  border: black 3px solid;
  border-radius: 100px;
} */

/* CARDS */

/* .cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
} */

/* .cardImage {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
} */

/* .singleCard {
  text-align: center;
  margin: 40px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  padding: 10px;
} */

/* .cardAddButton {
  margin-top: 15px;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px;
} */

/* .starRatingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* SINGLE ITEM */

.singleItemContainer {
  width: 70vw;
  height: 80vh;
  align-content: center;
  text-align: center;
  margin-top: 40px;
  margin-left: 12%;
  border: 10px black solid;
  border-radius: 20px;
  box-shadow: 10px 10px gray;
}

.singleImage {
  height: 300px;
}

.singleDescript {
  width: 70%;
  text-align: center;
  margin: auto;
}


/* CART */

.cartImage {
  height: 200px;
}

.incrementer {
  border: black solid 2px;
  border-radius: 5px;
  width: 61px;
  margin-left: auto;
  margin-right: auto;
}

.incrementerBtn {
  height: 24px;
  background-color: white;
  border: none;
  font-size: 20px;
  padding:0px;
}

.minusBtn {
  padding-left: 6px;
}

.amountInput {
  width: 30px;
  font-size: 18px;
  text-align: center;
  border: none;
}

.cartRemove {
  margin: 15px;
  border: black 1px solid;
  padding: 5px;
  background-color: gray;
  border-radius: 10px;
}

strong {
  font-size: 48px;
}